<!--Início do conteúdo da Grid-->
<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <div class="row">
      <div class="col-md-12">
        <h2 class="center">Lista de Países</h2>
      </div>
    </div><!--/row-->
    <div class="row">
      <div class="col-md-5 col-md-offset-2 form-group">
        <input class="form-control" ng-model="app.busca" type="search" placeholder="Buscar">
      </div>          
      <div class="col-md-2 col-md-offset-1">
        <a href="endereco/uf/cadastrar" class="btn btn-info pull-right">Cadastrar um País</a>
      </div>
    </div><!--/row-->
    <div class="row">
      <div class="col-md-12 ">
        <div class="table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th><a>País</a></th>
                <th><a>Sigla</a></th>
                <th><a>DDI</a></th>
                <th width="100px"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Brasil</td>
                <td>BR</td>
                <td>+55</td>
                <td >
                  <a href="pais/editar/" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <a class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Brasil</td>
                <td>BR</td>
                <td>+55</td>
                <td >
                  <a href="pais/editar/" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <a class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
              <tr>
                <td>Brasil</td>
                <td>BR</td>
                <td>+55</td>
                <td >
                  <a href="pais/editar/" class="btn btn-sm btn-warning">
                    <i class="glyphicon glyphicon-pencil"></i>
                  </a>
                  <a class="btn btn-sm btn-danger">
                    <i class="glyphicon glyphicon-remove"></i>
                  </a>
                </td>
              </tr>
            </tbody>                
          </table>
        </div><!--/responsive-table-->
      </div>    
    </div><!--/row-->
  </div>
</div><!--/row--> 
<!--Fim do conteúdo da Grid-->
