<div class="row">
	<div class="col-md-8 col-md-offset-2">
		<div class="row">
			<div class="col-md-12">
				<h2 class="center">Lista de Países</h2>
			</div>
		</div><!--/row-->
		<div class="row">
			<div class="col-md-5 col-md-offset-2 form-group">
				<input class="form-control" ng-model="app.busca" type="search" placeholder="Buscar">
			</div>					
			<div class="col-md-2 col-md-offset-1">
				<a href="pais/cadastrar" class="btn btn-info pull-right">Cadastrar um País</a>
			</div>
		</div><!--/row-->
		<div class="row" ng-show="paises">
			<div class="col-md-12 ">
				<div class="table-responsive">
					<table class="table table-striped">
						<thead>
							<tr>
								<th><a ng-click="app.orderColuna = 'nome'; app.orderReverse = !app.orderReverse ">País</a></th>
								<th><a ng-click="app.orderColuna = 'sigla'; app.orderReverse = !app.orderReverse ">Sigla</a></th>
								<th><a ng-click="app.orderColuna = 'ddi'; app.orderReverse = !app.orderReverse ">DDI</a></th>
								<th width="100px"></th>
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="pais in paises | filter: app.busca | orderBy:app.orderColuna:app.orderReverse">
								<td>{{pais.nome}}</td>
								<td>{{pais.sigla}}</td>
								<td>{{pais.ddi}}</td>
								<td >
									<a href="pais/editar/{{pais._id.$oid}}" class="btn btn-sm btn-warning">
										<i class="glyphicon glyphicon-pencil"></i>
									</a>
									<a ng-click="removerPais(pais)" class="btn btn-sm btn-danger">
										<i class="glyphicon glyphicon-remove"></i>
									</a>
								</td>
							</tr>
						</tbody>								
					</table>
				</div><!--/responsive-table-->
			</div>		
		</div><!--/row-->
	</div>
</div><!--/row-->	